@model MvcOnlineTicariOtomasyon.Models.Siniflar.Kategori
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Kategori Güncelleme İşlemi</li>
</ol>
@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x=>x.KategoriAd)
        @Html.TextBoxFor(x=>x.KategoriAd, new { @class="form-control" })
        @Html.HiddenFor(x=>x.KategoriID)
    </div>
    <button class="btn btn-info">Güncelle</button>
}