@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<KargoTakip>
@{
    ViewBag.Title = "KargoTakip";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Kargo Takip İşlemi</li>
</ol>
<table class="table table-bordered">
    <tr>
        <th>Açıklama</th>
        <th>Tarih</th>
      
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Aciklama</td>
            <td>@Convert.ToDateTime(x.TarihZaman).ToString("dd/MM/yyyy")</td>
        </tr>
    }
</table>




